node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
*-cookies.json
.env
/results/

# Ignore the postgres data directory in the root - that's the volume we're mounting
/pgdata/
/.*/
/errors/